<div class="my-3 p-3 bg-white rounded shadow-sm">

  <!-- Slider Delete -->
  {{#ifCond type '==' 'slider'}}
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Διαγραφή Slier</h6>

    {{#if data.slider}}
      <form action="/admin/settings/slider/{{data.slider.id}}/delete" method="post" class="mt-3">
        <div class="form-group mt-2 mb-4">
          <div class="row h-100">
            <div class="col-12">
              <label for="title" class="m-0"><small class="text-primary" style="font-weight:600;">Τίτλος</small></label>
              <input class="form-control form-control-sm" id="title" name="title" value="{{data.slider.title}}" disabled>
            </div>
          </div>
        </div>


        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary btn-sm">Διαγραφή</button>
          <a href="/admin/settings/slider" class="my-auto"><small>Πίσω</small></a>
        </div>

      </form>
    {{/if }}


  {{/ifCond}}

  <!-- Category Delete -->
  {{#ifCond type '==' 'cat'}}
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Διαγραφή Κατηγορίας</h6>

    {{#if data.category}}
      <form action="/admin/category/{{data.category.id}}/delete" method="post" class="mt-3">
        <div class="form-group">
          <label for="programTypeId" class="m-0"><small class="text-primary" style="font-weight:600;">Είδος Κατηγορίας</small></label>
          <select class="custom-select custom-select-sm" id="programTypeId" name="programTypeId" disabled>
            {{#if data.category.programType}}
              <option value="{{data.category.programType.id}}" selected>{{data.category.programType.text}}</option>
            {{/if}}
          </select>
        </div>

        <div class="form-group">
          <label for="text" class="m-0"><small class="text-primary" style="font-weight:600;">Όνομα Κατηγορίας</small></label>
          <input type="text" class="form-control form-control-sm" id="text" name="text" aria-describedby="textHelp" placeholder="Όνομα Κατηγορίας" value="{{data.category.text}}" disabled>
        </div>


        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary btn-sm">Διαγραφή</button>
          <a href="/admin/category" class="my-auto"><small>Πίσω</small></a>
        </div>

      </form>
    {{/if }}


  {{/ifCond}}

  <!-- File Delete -->
  {{#ifCond type '==' 'file'}}
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Επεξεργασία Αρχείου</h6>

    <div class="row mt-3">
      <div class="col-12 col-sm-4 my-auto text-center text-muted">
        {{#ifCond ftype '==' 'doc'}}
          <i class="fas fa-file fa-10x"></i>
          {{else}}
            <img src="{{disppath}}" class="img-fluid" alt="{{name}}">
        {{/ifCond}}
      </div>
      <div class="col-12 col-sm-8 text-muted">
        <form action="/admin/file/delete/{{ftype}}/{{name}}" method="post" class="mt-3">
          <div class="form-group">
            <label for="path"> <small> Διαδρομή Φακέλου </small></label></h6>
            <input type="text" class="form-control form-control-sm" id="path" aria-describedby="textHelp" placeholder="Διαδρομή Αρχείου" value="{{path}}" readonly>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="filename"> <small>Όνομα Αρχείου</small></label>
            <input type="text" class="form-control form-control-sm" id="filename" name="filename" placeholder="Όνομα Αρχείου" value="{{name}}" readonly>
          </div>
          <div class="d-flex justify-content-between border-top pt-3 mt-3">
            <button type="submit" class="btn btn-primary btn-sm">Διαγραφή</button>
            <a href="/admin/file" class="my-auto"><small>Πίσω</small></a>
          </div>

        </form>
      </div>
    </div>
  {{/ifCond}}
  <!-- Program Delete -->
  {{#ifCond type '==' 'prog'}}
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Διαγραφή Προγράμματος</h6>
    {{#if data}}

      <!-- <small class="text-muted mt-3">Αρχικό Κείμενο: {{result.category}}</small> -->

      <form action="/admin/program/{{data.program.id}}/delete" method="post" class="mt-3">

        <div class="media text-muted pt-1">
          <p class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Βασικά Στοιχεία</strong>
          </p>
        </div>
        <div class="form-group mb-5 mt-3 pl-3">
          <div class="row h-100">
            <div class="col-12 ">
              <label for="title" class="m-0"><small class="text-primary" style="font-weight:600;">Τίτλος</small></label>
              <input type="text" class="form-control form-control-sm" id="title" name="title" aria-describedby="textHelp" placeholder="Όνομα Προγράμματος" {{#if data.program.title}} value="{{data.program.title}}" {{/if}} disabled>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between border-top pt-3 mt-3">
          <button type="submit" class="btn btn-primary btn-sm">Διαγραφή</button>
          <a href="/admin/program" class="my-auto"><small>Πίσω</small></a>
        </div>

      </form>
    {{/if}}

  {{/ifCond}}
  <!-- Announcement Delete -->
  {{#ifCond type '==' 'news'}}
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Διαγραφή Ανακοίνωσης</h6>
    {{#if result}}

      <!-- <small class="text-muted mt-3">Αρχικό Κείμενο: {{result.category}}</small> -->

      <form action="/admin/news/{{result.id}}/delete" method="post" class="mt-3">
        <div class="form-group">
          <input type="text" class="form-control" id="newsName" name="newsName" aria-describedby="textHelp" placeholder="Τίτλος Ανακοίνωσης" value="{{result.title}}" disabled>
        </div>
        <div class="d-flex justify-content-between border-top pt-3 mt-3">
          <button type="submit" class="btn btn-primary btn-sm">Διαγραφή</button>
          <a href="/admin/news" class="my-auto"><small>Πίσω</small></a>
        </div>

      </form>
    {{/if}}

  {{/ifCond}}

  <!-- Category Delete -->
  {{#ifCond type '==' 'exp-cat'}}
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Διαγραφή Κατηγορίας</h6>
    {{#if result}}

      <!-- <small class="text-muted mt-3">Αρχικό Κείμενο: {{result.name}}</small> -->

      <form action="/admin/settings/exp-cat/{{result.id}}/delete" method="post" class="mt-3">
        <div class="form-group">
          <input type="text" class="form-control" id="categoryName" name="categoryName" aria-describedby="textHelp" placeholder="Όνομα Κατηγορίας" value="{{result.name}}" disabled>
        </div>
        <div class="d-flex justify-content-between border-top pt-3 mt-3">
          <button type="submit" class="btn btn-primary btn-sm">Διαγραφή</button>
          <a href="/admin/settings/exp" class="my-auto"><small>Πίσω</small></a>
        </div>

      </form>
    {{/if}}

  {{/ifCond}}

  <!-- Experience Delete -->
  {{#ifCond type '==' 'exp-file'}}
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Διαγραφή Αρχείου</h6>
    {{#if result}}

      <!-- <small class="text-muted mt-3">Αρχικό Κείμενο: {{result.id}}</small> -->

      <form action="/admin/settings/exp-file/{{result.id}}/delete" method="post" class="mt-3">
        <div class="form-group">
          <input type="text" class="form-control" id="epxName" name="epxName" aria-describedby="textHelp" placeholder="Όνομα Αρχείου" value="{{result.title}}" disabled>
        </div>
        <div class="d-flex justify-content-between border-top pt-3 mt-3">
          <button type="submit" class="btn btn-primary btn-sm">Διαγραφή</button>
          <a href="/admin/settings/exp" class="my-auto"><small>Πίσω</small></a>
        </div>

      </form>
    {{/if}}


  {{/ifCond}}


</div>
