<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="border-bottom border-gray pb-2 mb-0 row mx-0 ">
    <div class="col-9 my-auto">
      <h6 class="m-0">Sliders</h6>
    </div>
    <div class="col-3 ">
      <div class="input-group input-group-sm ">
        <input type="text" class="form-control" id="seachInput" onkeyup="liveSearch()" placeholder="Αναζήτηση..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>

  </div>
  {{#if data.sliders}}

    {{#each data.sliders}}
    <div class="media text-muted pt-3 imee-seach-item" imee-search-keys="{{id}} {{title}} {{text}}">
      <i class="fas fa-2x fa-clipboard-list"></i>
      <p class="media-body ml-3 pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{title}}</strong>
        <a href="/admin/settings/slider/{{id}}/delete"><span class="float-right mx-3"><i title="Διαγραφή" class="fas fa-trash-alt"></i></span></a>
        <a href="/admin/category/slider/{{id}}/edit"><span class="float-right mx-3"><i title="Επεξεργασία" class="fas fa-edit"></i></span></a>
        {{id}}
      </p>
    </div>
    {{/each}}

  {{else}}
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Δεν βρέθηκαν Sliders</strong>
    </p>
  </div>

  {{/if}}
  <small class="d-block text-right mt-3">
    <a href="/admin/settings/slider/new">Νέο Slider</a>
  </small>
</div>



<!-- <div class="my-3 p-3 bg-white rounded shadow-sm">



  <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:600;">Ρύθμιση Slider</h6>


  <form action="/admin/settings/slider" method="post" class="mt-3">


    <div class="media text-muted pt-3">
      <p class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Slider 1</strong>
      </p>
    </div>

    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12 col-md-8">
          <label for="sliderimg1" class="m-0"><small class="text-primary" style="font-weight:600;">Εικόνα</small></label>
          <select class="custom-select custom-select-sm" size="5" id="sliderimg1" name="sliderimg1" style="height:250px;">
            {{#if images}}
              {{#each images}}
                <option value="{{name}}" {{#if ../slider}} {{#ifCond ../slider.slider1img '==' name }} selected {{/ifCond}}{{/if}}>{{name}}</option>
              {{/each}}
            {{else}}
              <option value="Δεν βρέθηκαν εικόνες">Δεν βρέθηκαν εικόνες</option>
            {{/if}}
          </select>
        </div>
        <div class="col-12  col-md-4 text-center">
          <label for="programGalleryPrev-1" class="m-0"><small class="text-secondary" style="font-weight:600;">Προεπισκόπηση</small></label>
          <div class="border rounded" id="programGalleryPrev-1" style="height:250px;">

            {{#if slider.slider1img}}
              <img src="/files/uploads/images/{{slider.slider1img}}" alt="{{slider.slider1img}}" class="w-100 h-100 ">
            {{/if}}
          </div>
          <button type="button" id="btn-prog-img-clear-1" class="btn btn-primary btn-sm w-100 mt-1">Καθαρισμός Εικόνας</button>
        </div>
      </div>
    </div>


    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="slidertitle1" class="m-0"><small class="text-primary" style="font-weight:600;">Τίτλος</small></label>
          <input class="form-control form-control-sm" id="slidertitle1" name="slidertitle1" {{#if slider.slider1title}} value="{{slider.slider1title}}" {{/if}}>
        </div>
      </div>
    </div>

    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="slidertext1" class="m-0"><small class="text-primary" style="font-weight:600;">Κείμενο</small></label>
          <textarea class="form-control form-control-sm" id="slide-text1" name="slidertext1">{{#if slider.slider1text}}{{slider.slider1text}}{{/if}}</textarea>
        </div>
      </div>
    </div>


    <div class="form-group my-4 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="sliderprog1" class="m-0"><small class="text-primary" style="font-weight:600;">Σύνδεση με πρόγραμμα</small></label>
          <select class="form-control form-control-sm" id="sliderprog1" name="sliderprog1">
            {{#if programs}}
              <option value="" selected>Χωρίς σύνδεση</option>
              {{#each programs}}
                <option value="{{id}}" {{#if ../slider}} {{#ifCond ../slider.slider1prog '==' id}} selected {{/ifCond}}{{/if}}>{{title}}</option>
              {{/each}}
            {{else}}
              <option value="Δεν βρέθηκαν προγράμματα">Δεν βρέθηκαν προγράμματα</option>
            {{/if}}
          </select>
        </div>
      </div>
    </div>



    <div class="media text-muted pt-3">
      <p class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Slider 2</strong>
      </p>
    </div>

    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12 col-md-8">
          <label for="sliderimg2" class="m-0"><small class="text-primary" style="font-weight:600;">Εικόνα</small></label>
          <select class="custom-select custom-select-sm" size="5" id="sliderimg2" name="sliderimg2" style="height:250px;">
            {{#if images}}
              {{#each images}}
                <option value="{{name}}" {{#if ../slider}} {{#ifCond ../slider.slider2img '==' name }} selected {{/ifCond}}{{/if}}>{{name}}</option>
              {{/each}}
            {{else}}
              <option value="Δεν βρέθηκαν εικόνες">Δεν βρέθηκαν εικόνες</option>
            {{/if}}
          </select>
        </div>
        <div class="col-12  col-md-4 text-center">
          <label for="programGalleryPrev-2" class="m-0"><small class="text-secondary" style="font-weight:600;">Προεπισκόπηση</small></label>
          <div class="border rounded" id="programGalleryPrev-2" style="height:250px;">

            {{#if slider.slider2img}}
              <img src="/files/uploads/images/{{slider.slider2img}}" alt="{{slider.slider2img}}" class="w-100 h-100 ">
            {{/if}}
          </div>
          <button type="button" id="btn-prog-img-clear-2" class="btn btn-primary btn-sm w-100 mt-1">Καθαρισμός Εικόνας</button>
        </div>
      </div>
    </div>

    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="slidertitle2" class="m-0"><small class="text-primary" style="font-weight:600;">Τίτλος</small></label>
          <input class="form-control form-control-sm" id="slidertitle2" name="slidertitle2" {{#if slider.slider2title}} value="{{slider.slider2title}}" {{/if}}>
        </div>
      </div>
    </div>

    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="slidertext2" class="m-0"><small class="text-primary" style="font-weight:600;">Κείμενο</small></label>
          <textarea class="form-control form-control-sm" id="slidertext2" name="slidertext2">{{#if slider.slider2text}}{{slider.slider2text}}{{/if}}</textarea>
        </div>
      </div>
    </div>



    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="sliderprog2" class="m-0"><small class="text-primary" style="font-weight:600;">Σύνδεση με πρόγραμμα</small></label>
          <select class="form-control form-control-sm" id="sliderprog2" name="sliderprog2">
            {{#if programs}}
              <option value="" selected>Χωρίς σύνδεση</option>
              {{#each programs}}
                <option value="{{id}}" {{#if ../slider}} {{#ifCond ../slider.slider2prog '==' id}} selected {{/ifCond}}{{/if}}>{{title}}</option>
              {{/each}}
            {{else}}
              <option value="Δεν βρέθηκαν προγράμματα">Δεν βρέθηκαν προγράμματα</option>
            {{/if}}
          </select>
        </div>
      </div>
    </div>


    <div class="media text-muted pt-3">
      <p class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Slider 3</strong>
      </p>
    </div>

    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12 col-md-8">
          <label for="sliderimg3" class="m-0"><small class="text-primary" style="font-weight:600;">Εικόνα</small></label>
          <select class="custom-select custom-select-sm" size="5" id="sliderimg3" name="sliderimg3" style="height:250px;">
            {{#if images}}
              {{#each images}}
                <option value="{{name}}" {{#if ../slider}} {{#ifCond ../slider.slider3img '==' name }} selected {{/ifCond}}{{/if}}>{{name}}</option>
              {{/each}}
            {{else}}
              <option value="Δεν βρέθηκαν εικόνες">Δεν βρέθηκαν εικόνες</option>
            {{/if}}
          </select>
        </div>
        <div class="col-12  col-md-4 text-center">
          <label for="programGalleryPrev-3" class="m-0"><small class="text-secondary" style="font-weight:600;">Προεπισκόπηση</small></label>
          <div class="border rounded" id="programGalleryPrev-3" style="height:250px;">

            {{#if slider.slider3img}}
              <img src="/files/uploads/images/{{slider.slider3img}}" alt="{{slider.slider3img}}" class="w-100 h-100 ">
            {{/if}}
          </div>
          <button type="button" id="btn-prog-img-clear-3" class="btn btn-primary btn-sm w-100 mt-1">Καθαρισμός Εικόνας</button>
        </div>
      </div>
    </div>


    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="slidertitle3" class="m-0"><small class="text-primary" style="font-weight:600;">Τίτλος</small></label>
          <input class="form-control form-control-sm" id="slidertitle3" name="slidertitle3" {{#if slider.slider3title}} value="{{slider.slider3title}}" {{/if}}>
        </div>
      </div>
    </div>

    <div class="form-group my-2 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="slidertext3" class="m-0"><small class="text-primary" style="font-weight:600;">Κείμενο</small></label>
          <textarea class="form-control form-control-sm" id="slidertext3" name="slidertext3">{{#if slider.slider3text}}{{slider.slider3text}}{{/if}}</textarea>
        </div>
      </div>
    </div>


    <div class="form-group my-4 pl-3">
      <div class="row h-100">
        <div class="col-12">
          <label for="sliderprog3" class="m-0"><small class="text-primary" style="font-weight:600;">Σύνδεση με πρόγραμμα</small></label>
          <select class="form-control form-control-sm" id="sliderprog3" name="sliderprog3">
            {{#if programs}}
              <option value="" selected>Χωρίς σύνδεση</option>
              {{#each programs}}
                <option value="{{id}}" {{#if ../slider}} {{#ifCond ../slider.slider3prog '==' id}} selected {{/ifCond}}{{/if}}>{{title}}</option>
              {{/each}}
            {{else}}
              <option value="Δεν βρέθηκαν προγράμματα">Δεν βρέθηκαν προγράμματα</option>
            {{/if}}
          </select>
        </div>
      </div>
    </div>




    <div class="d-flex justify-content-between border-top pt-3 mt-3">
      <button type="submit" class="btn btn-primary btn-sm">Αποθήκευση</button>
      <a href="/admin/" class="my-auto"><small>Πίσω</small></a>
    </div>

  </form>



</div> -->
