<!DOCTYPE html>
<html lang="el">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- <script src="/libs//viewerjs/dist/viewer.js"></script> -->
  <link href="/libs/froala/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/custom.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="/libs/viewerjs/dist/viewer.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div class="container-fulid bg-light">

    <!-- Contact Row -->
    <div class="row mx-0 imee-blue" style="padding:1px"></div>


    <div class="row mx-0 imee-blue text-white d-none">
      <div class="imee-container">
        <div class="row ">
          <div class="col-6 text-left">
            <i class="fas fa-map-marker-alt"></i>
            <span class="" style="font-size:12px;">Ερατύρας 3, Τ.Κ. 10439 Σταθμός Λαρίσης</span>
            <span class="mx-2"></span>
            <i class="fas fa-headset"></i>
            <a href="tel:00302108259660"><span class="text-white" style="font-size:12px;">+30 210 8259660</span></a>
          </div>
          <div class="col-6 text-right">
            <i class="fas fa-map-marker-alt"></i>
            <span class="" style="font-size:12px;">Λοξής Φάλαγγος 64, Τ.Κ. 32200 Θήβα</span>
            <span class="mx-2"></span>
            <i class="fas fa-headset"></i>
            <a href="tel:00302262024249"><span class="text-white" style="font-size:12px;">+30 22620 24249</span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Logo Row -->
    <div class="row mx-0 mt-1  text-white text-center">
      <div class="col-12 d-none d-sm-block">
        <div class="imee-container">
          <a href="/">
            <img src="/images/logo-new.png" class="img-fluid " alt="IME&E" style="height: auto;width:auto;">
          </a>
        </div>
      </div>
      <div class="col-12 d-block d-sm-none my-1">
        <div class="imee-container">
          <a href="/">
            <img src="/images/imee-logo-min.png" class="img-fluid " alt="IME&E" style="height: 55px;width:auto;">
          </a>
        </div>
      </div>
    </div>

    <!--  Navigation Row -->
    <div class="row mx-0 imee-red font-weight-bold " id="imee-nav-row">
      <div class="imee-container">
        <div class="row mx-0 justify-content-between" role="tablist">
          <div class="col-2 col-sm px-0 text-center text-nowrap imee-nav-link imee-resp-font">
            <a class="nav-link py-3 px-0 text-white text-truncate" href="/" role="tab" aria-selected="true">ΑΡΧΙΚΗ</a>
          </div>
          <div class="col-3 col-sm px-0 text-center text-nowrap imee-nav-link imee-resp-font dropdown">
            <a class="nav-link py-3 px-0 text-white text-truncate" href="/foreas" role="button">Ο ΦΟΡΕΑΣ</a>
            <span class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </span>
            <div class="dropdown-menu w-100 border border-top-0 mt-0 imee-light" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/foreas/">Το ΙΜΕ&Ε</a>
              <a class="dropdown-item" href="/foreas/synerg">Συνεργασίες</a>
              <a class="dropdown-item" href="/foreas/empiria">Εμπειρια του φορέα</a>
              <a class="dropdown-item" href="/foreas/ipodomi">Υποδομη</a>
              <a class="dropdown-item" href="/foreas/drast">Δραστηριότητα</a>
              <a class="dropdown-item" href="/foreas/org">Οργάνωση & Υπηρεσίες</a>
              <a class="dropdown-item" href="#">Πολιτική Προστασίας</a>
            </div>
          </div>



          <div class="col-4 col-sm px-0 text-center text-nowrap imee-nav-link imee-resp-font" id="imee-prog">
            <a class="nav-link py-3 px-0 text-white text-truncate" href="/programs">ΕΠΙΔΟΤΟΥΜΕΝΑ</a>
          </div>
          <div class="col-4 col-sm px-0 text-center text-nowrap imee-nav-link imee-resp-font" id="imee-seminars">
            <a class="nav-link py-3 px-0 text-white text-truncate" href="/programs">ΣΕΜΙΝΑΡΙΑ</a>
          </div>
          <!-- <div class="col-4 col-sm px-0 text-center text-nowrap imee-nav-link imee-resp-font" id="imee-prog">
            <a class="nav-link py-3 px-0 text-white text-truncate" href="/programs">ΕΝΔΙΑΦΕΡΟΝ</a>
          </div> -->
          <!-- <div class="col-4 col-sm px-0 text-center text-nowrap imee-nav-link imee-resp-font" id="imee-prog">
            <a class="nav-link py-3 px-0 text-white text-truncate" href="/programs">ΠΡΟΓΡΑΜΜΑΤΑ</a>
          </div> -->
          <div class="col-3 col-sm px-0 text-center text-nowrap imee-nav-link imee-resp-font">
            <a class="nav-link py-3 px-0 text-white text-truncate" href="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</a>
          </div>
          <div class="w-100"></div>
          <!-- Mega Nav  -->
          <div class="row w-100 " id="imee-mega-nav" style="height:0px;">
            <div class="col-12 d-none d-lg-block" style="height:0px;">
              {{#if data.nav1}}
                {{#with data.nav1}}
                  <div class="row mx-0 position-absolute border border-top-0 bg-white w-100" style="z-index:1000;">
                    <div class="col-12 px-0">
                      <div class="row mx-0 py-5 h-100 justify-content-around">
                        <div class="col px-3  ">
                          <div class="row mx-0">
                            <div class="col-12 px-0">
                              <h5 class="dropdown-header">
                                {{dataValues.title}}
                              </h5>
                            </div>
                            {{#each categories}}
                              <div class="col-12 px-0">
                                <a href="{{#if nav.meganav_title_1_1_prog}}/programs/{{nav.meganav_title_1_1_prog}}{{else}}#{{/if}}" class="dropdown-item">
                                  {{text}}
                                </a>
                              </div>
                            {{/each}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {{/with}}
              {{/if}}
            </div>
          </div>
          <!-- Mega Nav  -->
          <!-- Mega Nav  -->
          <div class="row w-100 " id="imee-mega-nav-seminars" style="height:0px;">
            <div class="col-12 d-none d-lg-block" style="height:0px;">
              {{#if data.nav2}}
                {{#with data.nav2}}
                  <div class="row mx-0 position-absolute border border-top-0 bg-white w-100" style="z-index:1000;">
                    <div class="col-12 px-0">
                      <div class="row mx-0 py-5 h-100 justify-content-around">
                        <div class="col px-3  ">
                          <div class="row mx-0">
                            <div class="col-12 px-0">
                              <h5 class="dropdown-header">
                                {{dataValues.title}}
                              </h5>
                            </div>
                            {{#each categories}}
                              <div class="col-12 px-0">
                                <a href="{{#if nav.meganav_title_1_1_prog}}/programs/{{nav.meganav_title_1_1_prog}}{{else}}#{{/if}}" class="dropdown-item">
                                  {{text}}
                                </a>
                              </div>
                            {{/each}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {{/with}}
              {{/if}}
            </div>
          </div>
          <!-- Mega Nav  -->
        </div>
      </div>
    </div>
    <!-- <div class="imee-container"> -->


    {{{body}}}

    <!-- </div> -->
  </div>

  <!-- Footer -->
  <div class="row mx-0 " id="imee-footer-seperator"></div>
  <div class="row mx-0 imee-grey-blue-dark  imee-text-grey-blue ">
    <div class="imee-container">
      <div class="row mx-0 py-4 justify-content-center">
        <!-- section 1 -->
        <div class="col-12 col-md-4 px-0">
          <div class="row mx-0">
            <div class="col-12 py-2 text-center">
              <h6 class="text-light" style="font-weight:700">ΔΙΑΦΟΡΑ</h6>
            </div>
            <div class="col-12 my-2">
              <div class="py-2">
                <a class="imee-text-grey-blue" href="/news/">Ανακοινώσεις</a><br>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue" href="/programs/">Όλα τα προγράμματα</a><br>
              </div>
              {{#if category}}
                {{#each category}}
                  <div class="py-2">
                    <a class="imee-text-grey-blue" href="/programs/category/{{id}}">{{category}}</a><br>
                  </div>
                {{/each}}
              {{/if}}
            </div>
          </div>
        </div>
        <!-- section 2 -->
        <div class="col-12 col-md-4 px-0">
          <div class="row mx-0">
            <div class="col-12 py-2 text-center">
              <a class="" href="/foreas">
                <h6 class="text-light" style="font-weight:700">Ο ΦΟΡΕΑΣ</h6>
              </a>
            </div>
            <div class="col-12 my-2">
              <div class="py-2">
                <a class="imee-text-grey-blue " href="/foreas/">Ιστορικό</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue py-2" href="/foreas/synerg">Συνεργασίες</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue py-2" href="/foreas/empiria">Εμπειρια του φορέα</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue py-2" href="/foreas/ipodomi">Υποδομη</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue py-2" href="/foreas/drast">Δραστηριότητα</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue py-2" href="/foreas/org">Οργάνωση & Υπηρεσίες</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue py-2" href="/foreas/ekdilo">Αίθουσα εκδηλώσεων</a>
              </div>
            </div>
          </div>
        </div>
        <!-- section 3 -->
        <div class="col-12 col-md-4 px-0">
          <div class="row mx-0">
            <div class="col-12 py-2 text-center">
              <a class="" href="/contact">
                <h6 class="text-light" style="font-weight:700">ΕΠΙΚΟΙΝΩΝΙΑ</h6>
              </a>
            </div>
            <div class="col-12 my-2">
              Ερατύρας 3, <br>Αθήνα, 10439 <br>Σταθμος Λαρίσης <br>+30 210 8259660 <br>
              <a href="/contact#contact-maps" class="imee-text-red">
                <i class="fas fa-map-marker-alt"></i>
                Δείτε στον χάρτη
              </a>
            </div>
            <div class="col-12 my-2 ">
              Λοξής Φάλαγγος 64, <br>Θήβα, 32200 <br>+30 22620 24249 <br>
              <a href="/contact#contact-maps" class="imee-text-red">
                <i class="fas fa-map-marker-alt"></i>
                Δείτε στον χάρτη
              </a>
            </div>
            <div class="col-12 my-2 ">
              <a href="https://www.facebook.com/kekimee/" target="_blank" class="imee-text-grey-blue">
                <i class="fab fa-2x fa-facebook"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>

</html>
