<!DOCTYPE html>
<html lang="el">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- <script src="/libs//viewerjs/dist/viewer.js"></script> -->
  <link href="/libs/froala/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/custom.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="/libs/viewerjs/dist/viewer.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="bg-pattern">
  <div class="container-fulid bg-light">

    <!-- Contact Row -->
    <div class="row mx-0 imee-blue" style="padding:1px"></div>

    <!-- Logo Row -->
    <div class="row mx-0 mt-1  text-white text-center">
      <div class="col-12 d-none d-lg-block">
        <div class="imee-container">
          <a href="/">
            <img src="/images/kek-logo-1.png" class="img-fluid " alt="IME&E" style="height: auto;width:auto;">
          </a>
        </div>
      </div>

    </div>

    <div class="row mx-0 imee-red font-weight-bold bg-pattern sticky-top" id="imee-nav-row">
      <div class="imee-container">


        <nav class="navbar navbar-expand-lg navbar-static bg-faded py-0" role="navigation" style="height:65px;">
          <ul class="nav navbar-nav row mx-0 w-100 h-100 d-none d-lg-flex">
            <li class="nav-item imee-nav-item text-center col p-0 ">
              <a class=" nav-link text-white py-2 h-100 align-middle" href="/"><span class="align-middle">ΑΡΧΙΚΗ</span></a>
            </li>
            <li class="nav-item imee-nav-item text-center col p-0 dropdown">
              <a class=" nav-link text-white py-2 h-100" href="/foreas"><span>Ο ΦΟΡΕΑΣ</span></a>
              <span class="dropdown-toggle" id="dropdownMenuForeas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </span>
              <div class="dropdown-menu border border-top-0 mt-0 imee-light" aria-labelledby="dropdownMenuForeas" style="min-width:100%;">
                <a class="dropdown-item" href="/foreas/">Το ΙΜΕ&AMP;Ε</a>
                <a class="dropdown-item" href="/foreas/synerg">Συνεργασίες</a>
                <a class="dropdown-item" href="/foreas/empiria">Εμπειρια του φορέα</a>
                <a class="dropdown-item" href="/foreas/ipodomi">Υποδομη</a>
                <a class="dropdown-item" href="/foreas/drast">Δραστηριότητα</a>
                <a class="dropdown-item" href="/foreas/org">Οργάνωση &AMP; Υπηρεσίες</a>
                <a class="dropdown-item" href="#">Πολιτική Προστασίας</a>
              </div>
            </li>
            <li class="nav-item imee-nav-item text-center col p-0 dropdown">
              <a class=" nav-link text-white py-2 h-100" href="/"><span>ΕΠΙΔΟΤΟΥΜΕΝΑ<br>ΠΡΟΓΡΑΜΜΑΤΑ</span></a>
              <span class="dropdown-toggle" id="dropdownMenuPrograms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </span>
              {{#if data.nav1.categories}}
                <div class="dropdown-menu  border border-top-0 mt-0 imee-light" aria-labelledby="dropdownMenuPrograms" style="min-width:100%;">
                  {{#each data.nav1.categories}}
                    <a class="dropdown-header" href="/programs/category/{{id}}">{{text}}</a>

                    {{#each ../data.nav1.programs}}
                      {{#each categories}}

                        {{#ifCond id '==' ../../id}}
                          <a class="dropdown-item" href="/program/{{../id}}">{{../title}}</a>
                        {{/ifCond}}


                      {{/each}}
                    {{/each}}

                  {{/each}}

                </div>
              {{/if}}
            </li>
            <li class="nav-item imee-nav-item text-center col p-0 dropdown">
              <a class=" nav-link text-white py-2 h-100" href="/"><span>ΣΕΜΙΝΑΡΙΑ</span></a>
              <span class="dropdown-toggle" id="dropdownMenuSeminars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </span>
              {{#if data.nav2.programs}}
                <div class="dropdown-menu  border border-top-0 mt-0 imee-light" aria-labelledby="dropdownMenuSeminars" style="min-width:100%;">
                  {{#each data.nav2.programs}}
                    <a class="dropdown-item" href="/programs/{{id}}">{{title}}</a>
                  {{/each}}
                </div>
              {{/if}}
            </li>
            <li class="nav-item imee-nav-item text-center col p-0 ">
              <a class=" nav-link text-white py-2 h-100" href="/"><span>ΕΚΔΗΛΩΣΗ<br>ΕΝΔΙΑΦΕΡΟΝΤΟΣ</span></a>
            </li>
            <li class="nav-item imee-nav-item text-center col p-0 ">
              <a class=" nav-link text-white py-2 h-100" href="/"><span>ΕΠΙΚΟΙΝΩΝΙΑ</span></a>
            </li>
            <!-- insert more nav-items if you so choose -->
          </ul>
          <button class="navbar-toggler pull-xs-right" id="navbarSideButton" type="button">
            <span class="imee-text-red">
              <i class="fas fa-bars fa-lg"></i>
            </span>
          </button>
          <div class="d-block d-lg-none  position-absolute text-center" style="left: 50%;margin-left: -28px;">
            <a href="/">
              <img src="/images/kek-logo-2.png" class="img-fluid " alt="IME&E" style="height: 60px;width:auto;">
            </a>
          </div>

          <!-- Sidenav -->
          <ul class="navbar-side bg-light" id="navbarSide">
            <div class="row mx-0 mt-3">
              <div class="col-12 text-left">
                <a href="#" id="navbarSideClose">
                  <i class="fas fa-times fa-lg imee-text-black"></i>
                </a>
              </div>
            </div>
            <li class="navbar-side-item">
              <a href="#" class="side-link">Signup</a>
            </li>

          </ul>
          <div class="overlay"></div>
        </nav>



      </div>
    </div>
    {{{body}}}


  </div>


  <div class="row mx-0 imee-grey-light  imee-text-grey-blue-heavy border-top">
    <div class="imee-container">
      <div class="row mx-0 py-4 justify-content-center">
        <!-- section 1 -->
        <div class="col-12 col-md-4 px-0">
          <div class="row mx-0">
            <div class="col-12 py-2 text-left">
              <h6 class="imee-text-blue" style="font-weight:700">ΔΙΑΦΟΡΑ</h6>
            </div>
            <div class="col-12 my-2">
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy" href="/news/">Ανακοινώσεις</a><br>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy" href="/programs/">Όλα τα προγράμματα</a><br>
              </div>
              {{#if category}}
                {{#each category}}
                  <div class="py-2">
                    <a class="imee-text-grey-blue-heavy" href="/programs/category/{{id}}">{{category}}</a><br>
                  </div>
                {{/each}}
              {{/if}}
            </div>
          </div>
        </div>
        <!-- section 2 -->
        <div class="col-12 col-md-4 px-0">
          <div class="row mx-0">
            <div class="col-12 py-2 text-left">
              <a class="" href="/foreas">
                <h6 class="imee-text-blue" style="font-weight:700">Ο ΦΟΡΕΑΣ</h6>
              </a>
            </div>
            <div class="col-12 my-2">
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy " href="/foreas/">Ιστορικό</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy py-2" href="/foreas/synerg">Συνεργασίες</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy py-2" href="/foreas/empiria">Εμπειρια του φορέα</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy py-2" href="/foreas/ipodomi">Υποδομη</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy py-2" href="/foreas/drast">Δραστηριότητα</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy py-2" href="/foreas/org">Οργάνωση & Υπηρεσίες</a>
              </div>
              <div class="py-2">
                <a class="imee-text-grey-blue-heavy py-2" href="/foreas/ekdilo">Αίθουσα εκδηλώσεων</a>
              </div>
            </div>
          </div>
        </div>
        <!-- section 3 -->
        <div class="col-12 col-md-4 px-0">
          <div class="row mx-0">
            <div class="col-12 py-2 text-left">
              <a class="" href="/contact">
                <h6 class="imee-text-blue" style="font-weight:700">ΕΠΙΚΟΙΝΩΝΙΑ</h6>
              </a>
            </div>
            <div class="col-12 my-2">
              Ερατύρας 3, <br>Αθήνα, 10439 <br>Σταθμος Λαρίσης <br>+30 210 8259660 <br>
              <a href="/contact#contact-maps" class="imee-text-red">
                <i class="fas fa-map-marker-alt"></i>
                Δείτε στον χάρτη
              </a>
            </div>
            <div class="col-12 my-2 ">
              Λοξής Φάλαγγος 64, <br>Θήβα, 32200 <br>+30 22620 24249 <br>
              <a href="/contact#contact-maps" class="imee-text-red">
                <i class="fas fa-map-marker-alt"></i>
                Δείτε στον χάρτη
              </a>
            </div>
            <div class="col-12 my-2 ">
              <a href="https://www.facebook.com/kekimee/" target="_blank" class="imee-text-grey-blue-heavy">
                <i class="fab fa-2x fa-facebook"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>

</html>
