{{#if data.sliders}}
  <div id="demo" class="carousel slide" data-ride="carousel">


    <!-- Indicators -->
    <ul class="carousel-indicators">
      {{#each data.sliders}}
        <li data-target="#demo" data-slide-to="{{@index}}" class="active"></li>
      {{/each}}
    </ul>

    <!-- Slideshow -->

    <div class="carousel-inner">
      {{#each data.sliders}}
        <div class="carousel-item {{#ifCond @index '==' '0'}}active{{/ifCond}}" style="height: 450px;">
          <!-- <div class="w-100 h-100 position-absolute"></div> -->
          <img class="img-fluid w-100" src="/files/uploads/images/{{image}}" alt="{{title}}" style="max-width:100%;height:auto;min-height:500px;object-fit:cover;">
          <div class="carousel-caption text-left">
            <h3>{{title}}</h3>
            <p class="pl-2">{{text}}</p>
            <div class="align-text-bottom w-100 text-right">
              {{#if categoryId}}
                <a href="/programs/category/{{categoryId}}" class="btn imee-btn ">Περισσότερα</a>
              {{/if}}
              {{#if seminarId}}
                <a href="/seminars/{{seminarId}}" class="btn imee-btn ">Περισσότερα</a>
              {{/if}}
              {{#if programId}}
                <a href="/programs/{{programId}}" class="btn imee-btn ">Περισσότερα</a>
              {{/if}}

            </div>

          </div>

        </div>
      {{/each}}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
{{/if}}

<!-- Programs -->
{{#ifCond  data.featuredPrograms '||' data.featuredSeminars}}
<div class="row mx-0 ">
  <div class="col-12 p-0">
    <div class="row mx-0 py-3 mt-5 mb-4">
      <div class="col-12">
        <div class="imee-container text-center">
          <h5 class="py-0 m-0 imee-section-header imee-text-blue">Δημοφιλή Προγράμματα</h5>
        </div>
      </div>
    </div>
    <div class="imee-container">
      <div class="row mx-0  py-3 ">

        {{#if data.featuredPrograms}}
          {{#each data.featuredPrograms}}

          <div class="col-12 col-sm-6 col-md-6  col-lg-{{getLayout ../featuredPrograms.length @index}} mb-3">
            <div class="card imee-card shadow-sm border" style="width: auto;">
              <div class="card-div-top">
                <img class="card-img-top img-fluid" src="/files/uploads/images/{{image}}" alt="{{title}}">
              </div>
              <div class="card-body pb-1 text-left">
                <h6 class="card-title imee-text-red">{{title}}</h6>
              </div>
              <div class="card-footer text-right ">
                <a href="/programs/{{id}}" class="btn imee-btn-red">Περισσότερα</a>
              </div>
            </div>
          </div>

          {{/each}}
        {{/if}}

        {{#if data.featuredSeminars}}
          {{#each data.featuredSeminars}}

          <div class="col-12 col-sm-6 col-md-6  col-lg-{{getLayout ../featuredSeminars.length @index}} mb-3">
            <div class="card imee-card shadow-sm border" style="width: auto;">
              <div class="card-div-top">
                <img class="card-img-top img-fluid" src="/files/uploads/images/{{image}}" alt="{{title}}">
              </div>
              <div class="card-body pb-1 text-left">
                <h6 class="card-title imee-text-red">{{title}}</h6>
              </div>
              <div class="card-footer text-right ">
                <a href="/programs/{{id}}" class="btn imee-btn-red">Περισσότερα</a>
              </div>
            </div>
          </div>

          {{/each}}
        {{/if}}

      </div>
    </div>
  </div>
</div>
{{/ifCond}}


<!-- News -->
{{#if data.featuredNews}}
<div class="row mx-0 bg-light">
  <div class="col-12 p-0">
    <div class="row mx-0 py-3 mt-5 mb-4">
      <div class="col-12">
        <div class="imee-container text-center">
          <h5 class="py-0 m-0 ιmee-section-header imee-text-blue">Τελευταία Νέα</h5>
        </div>
      </div>
    </div>
    <div class="imee-container">
      <div class="row mx-0  py-3 ">


          {{#each data.featuredNews}}
            <div class="col-12 py-3">
              <div class="card imee-news-card shadow-sm rounded-right border">
                <div class="card-body text-justify">
                  <div class="card-title border-bottom">
                    <div class="row mx-0">
                      <div class="col-12 col-md-8 px-0 text-left">
                        <h6 class="imee-text-red imee-fw-600">{{title}}</h6>
                      </div>
                      <div class="col-12 col-md-4 px-0 text-right">
                        <span class="imee-text-red">Τελευταία ενημέρωση: {{dateFormat updatedAt}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-text text-justify fr-view">
                    {{{text}}}
                  </div>
                </div>
                <div class="card-footer text-right  border-top bg-light text-right">
                  <a href="/news#announcement-{{id}}" class="imee-text-grey-blue">Περισσότερα</a>
                </div>
              </div>
            </div>
          {{/each}}

      </div>
    </div>
  </div>
</div>
{{/if}}
