<div class="row mx-0 imee-red d-none">
  <div class="col-12 py-3 ">
    <div class="imee-container text-center ">
      <h6 class="text-white m-0 imee-section-header" style="font-size: 0.9rem !important">ΠΡΟΓΡΑΜΜΑΤΑ</h6>
    </div>
  </div>
</div>


<div class="row mx-0  pt-3 shadow-sm border-bottom imee-scroller">
  <div class="col-12 p-0">
    <div class="imee-container">

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill {{#ifCond activecat '==' 'all'}}active{{/ifCond}}" href="/programs">Όλα</a>
        </li>
        {{#if data.categories}}
          {{#each data.categories}}
            <li class="nav-item mx-0 my-1">
              <a class="nav-link imee-pill {{#ifCond ../activecat '==' id}}active{{/ifCond}}" href="/programs/category/{{id}}">{{text}}</a>
            </li>
          {{/each}}
        {{/if}}
      </ul>

    </div>
  </div>
</div>


<div class="row mx-0 ">
  <div class="col-12 p-0">
    <div class="imee-container">
      <div class="row mx-0 py-5">


        {{#if data.programs}}
          {{#each data.programs}}

          <div class="col-12 col-sm-6 col-md-6  col-lg-{{getLayout ../featuredPrograms.length @index}} mb-3">
            <div class="card imee-card shadow-sm border" style="width: auto;">
              <div class="card-div-top">
                <img class="card-img-top img-fluid" src="/files/uploads/images/{{image}}" alt="{{title}}">
              </div>
              <div class="card-body pb-1 text-left">
                <h6 class="card-title imee-text-red">{{title}}</h6>
              </div>
              <div class="card-footer text-right ">
                <a href="/programs/{{id}}" class="btn imee-btn-red">Περισσότερα</a>
              </div>
            </div>
          </div>

          {{/each}}
        {{/if}}


      </div>
    </div>
  </div>
</div>
